@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Nanum+Gothic:wght@400;700;800&family=Vidaloka&display=swap');

*{
  box-sizing: border-box;
}


html, body {
background: #F6F5F3;
font-family: 'Montserrat', sans-serif;
width: 100%;
margin: 0;
padding: 0;
overflow-x: hidden;

}



